xcode/build/*
/xcode/Gelbox.xcodeproj/project.xcworkspace/xcuserdata/chaim.xcuserdatad/UserInterfaceState.xcuserstate
/xcode/Gelbox.xcodeproj/xcuserdata/chaim.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
